body {
  height: 100vh;
  background-color: #1f2937;
}
#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  border-radius: 0.25rem;
  overflow: hidden;
}

#calculator .button {
  padding: 10px;
  font-weight: 200;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(144, 143, 143);
  transition: 0.5s;
}

button:hover {
  background-color: rgb(144, 143, 143);
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

